[submodule "html5-group-manager"]
	path = html5-group-manager
	url = https://github.com/sopro-dist/html5-group-manager.git
[submodule "html5-pollmaster"]
	path = html5-pollmaster
	url = https://github.com/sopro-dist/html5-pollmaster.git
[submodule "japi"]
	path = japi
	url = https://github.com/SocietyPro/japi.git
